* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #FFFFFF;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1160px;
    height: 1641px;
    background-color: #7c7c7c;
}

.top_side {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #782221;
}

.profileText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profileText .imgBx {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}

.profileText .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.profileText h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 200;
    margin: 0;
    line-height: 1;
    text-align: center;
}

.profileText h2 span {
    text-transform: none;
    font-size: 18px;
    font-weight: 100;
    display: block;
}

.contact {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #2C1D27;
}

.contact a {
    text-decoration: none;
    color: white;
}

.contact a:hover {
    text-decoration: underline;
    color: #ffcc00;
}

.contact .adress {
    position: absolute;
    left: 30px;
}

.contact .mail {
    margin: 0 auto;
    text-align: center;
    font-style: italic;
}

.contact .tel {
    position: absolute;
    right: 30px;
    font-style: italic;
}